.navbar-container {
  position: relative;
}

.toggle-search-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 15px;
}

.search-bar-container {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width : 1000px
}

.search-input {
  flex: 1;
  padding: 8px 10px;
  border: none;
  font-size: 1rem;
  border-radius: 3px 0 0 3px;
  outline: none;
}

.search-button {
  background-color: #ffc107;
  border: none;
  padding: 8px 15px;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button i {
  font-size: 1.2rem;
}
